<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Dashboard_LecturerServlet</servlet-name>
        <servlet-class>com.fyp.controller.login.Dashboard_LecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.fyp.controller.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLecturerDao</servlet-name>
        <servlet-class>com.fyp.model.Dao.login.AddLecturerDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLecturerDAO</servlet-name>
        <servlet-class>com.fyp.lecturer.dao.AddLecturerDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLecturerServlet</servlet-name>
        <servlet-class>com.fyp.controller.lecturer.AddLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pastreport</servlet-name>
        <servlet-class>com.fyp.pastreport.pastreport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pastReport</servlet-name>
        <servlet-class>com.fyp.model.bean.pastReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPastReportDAO</servlet-name>
        <servlet-class>com.fyp.pastreport.AddPastReportDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPastReportServlet</servlet-name>
        <servlet-class>com.fyp.pastreport.AddPastReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFDAO</servlet-name>
        <servlet-class>com.fyp.upload.PDFDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfFile</servlet-name>
        <servlet-class>com.fyp.model.bean.PdfFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfFileUploadServlet</servlet-name>
        <servlet-class>com.fyp.upload.PdfFileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Image</servlet-name>
        <servlet-class>com.fyp.model.bean.Image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageDAO</servlet-name>
        <servlet-class>com.fyp.upload.ImageDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>com.fyp.upload.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScopeDAO</servlet-name>
        <servlet-class>com.fyp.Scope.AddScopeDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerListDAO</servlet-name>
        <servlet-class>com.fyp.LecturerList.LecturerListDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerListServlet</servlet-name>
        <servlet-class>com.fyp.LecturerList.LecturerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scope</servlet-name>
        <servlet-class>com.fyp.model.bean.Scope</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScopeServlet</servlet-name>
        <servlet-class>com.fyp.Scope.InsertScopeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureDeleteServlet</servlet-name>
        <servlet-class>com.fyp.LecturerList.LectureDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerDeleteServlet</servlet-name>
        <servlet-class>com.fyp.LecturerList.LecturerDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLecturerServlet</servlet-name>
        <servlet-class>com.fyp.LecturerList.EditLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLecturerServlet</servlet-name>
        <servlet-class>com.fyp.LecturerList.UpdateLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertLecturerServlet</servlet-name>
        <servlet-class>com.fyp.LecturerList.InsertLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDAO</servlet-name>
        <servlet-class>com.fyp.model.user.AdminDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLoginLecturer</servlet-name>
        <servlet-class>com.fyp.LecturerList.DeleteLoginLecturer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListScopeServlet</servlet-name>
        <servlet-class>com.fyp.Scope.ListScopeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditScopeForm</servlet-name>
        <servlet-class>com.fyp.Scope.EditScopeForm</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>InsertScopeServlet</servlet-name>
        <servlet-class>com.fyp.Scope.InsertScopeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard_LecturerServlet</servlet-name>
        <url-pattern>/Dashboard_LecturerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLecturerDao</servlet-name>
        <url-pattern>/AddLecturerDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLecturerDAO</servlet-name>
        <url-pattern>/AddLecturerDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLecturerServlet</servlet-name>
        <url-pattern>/AddLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pastreport</servlet-name>
        <url-pattern>/pastreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pastReport</servlet-name>
        <url-pattern>/pastReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPastReportDAO</servlet-name>
        <url-pattern>/AddPastReportDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPastReportServlet</servlet-name>
        <url-pattern>/AddPastReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFDAO</servlet-name>
        <url-pattern>/PDFDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfFile</servlet-name>
        <url-pattern>/PdfFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfFileUploadServlet</servlet-name>
        <url-pattern>/PdfFileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageDAO</servlet-name>
        <url-pattern>/ImageDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/ImageUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScopeDAO</servlet-name>
        <url-pattern>/AddScopeDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerListDAO</servlet-name>
        <url-pattern>/LecturerListDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerListServlet</servlet-name>
        <url-pattern>/LecturerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scope</servlet-name>
        <url-pattern>/Scope</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScopeServlet</servlet-name>
        <url-pattern>/AddScopeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerDeleteServlet</servlet-name>
        <url-pattern>/deleteLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLecturerServlet</servlet-name>
        <url-pattern>/editLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLecturerServlet</servlet-name>
        <url-pattern>/updateLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertLecturerServlet</servlet-name>
        <url-pattern>/insertLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDAO</servlet-name>
        <url-pattern>/AdminDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListScopeServlet</servlet-name>
        <url-pattern>/ListScopeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditScopeForm</servlet-name>
        <url-pattern>/EditScopeForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertScopeServlet</servlet-name>
        <url-pattern>/insertScope</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>LoginID.jsp</welcome-file>
    </welcome-file-list>
</web-app>
