<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginStudentServlet</servlet-name>
        <servlet-class>com.fyp.controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard_LecturerServlet</servlet-name>
        <servlet-class>com.fyp.controller.lecturer.Dashboard_LecturerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginStudentServlet</servlet-name>
        <url-pattern>/loginStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard_LecturerServlet</servlet-name>
        <url-pattern>/Dashboard_LecturerServlet</url-pattern>
    </servlet-mapping>
</web-app>
