/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 13, 2024, 12:37:28 AM
    Author     : User
*/
.custom-input{
    width: 100%; 
    border-radius: 6px; 
    border-width: 1px;
    border-color: #bdbdbd; outline: none;
}
.fontpassword {
    position: relative;
}
.fontpassword i{
    position: absolute;
    left: 15px;
    top: 40px;
    color: gray;
}
@media screen and (max-width: 1024px) {
    .desktop-only{
        display: none;
    }
}
.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 .5em 1em -0.125em rgba(10,10,10,.1),0 0px 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    border-width: 10px;
}
.custom-border{
    background-color: #fff;
    border-radius: 6px;
    color: #4a4a4a;
    display: inline-block;
    border: 1px solid #dbdbdb;
    box-shadow: 0 .5em 1em -0.125em rgba(10,10,10,.1),0 0px 0 1px rgba(10,10,10,.02);
    width: 100%;
}
.custom-bg{
    background: rgb(211,217,220);
    background: linear-gradient(0deg, rgba(211,217,220,1) 0%, rgba(216,104,176,1) 100%);
}
.custom-bg2{
    background: rgb(221,158,97);
    background: linear-gradient(0deg, rgba(221,158,97,1) 0%, rgba(174,180,250,1) 100%);
}
.custom-bg3{
    background: rgb(221,158,97);
    background: linear-gradient(0deg, rgba(221,158,97,1) 0%, rgba(226,158,159,1) 100%);
}
.custom-bg4{
    background: rgb(235,188,160);
    background: linear-gradient(0deg, rgba(235,188,160,1) 0%, rgba(208,166,253,1) 100%);
}
.w-100{
    width:100%;
}
.h-100{
    height:100%;
}
table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    border-bottom: 1px solid #ddd;
    padding: .35em;
}
table th,
table td {
    padding: .625em;
}
table th {
    border: 0;
    font-size: .85em;
    letter-spacing: .1em;
}
table td {
    border: 0;
    font-size: .8em;
    text-align: right;
}
@media screen and (max-width: 768px) {
    .width-mobile{
        width:100%;
    }
    table {
        border: 1px solid #ddd;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 2px solid #ddd;
        display: block;
        margin-bottom: .625em;
        padding: 0;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: 600 !important;
    }
    table td:last-child {
        border-bottom: 0;
    }
}
@media screen and (min-width: 1408px) {
    .is-hidden-fullhd {
        display:none !important
    }
}
@media screen and (max-width: 768px) {
    .is-desktop-visible {
        display: none;
    }
    .is-hidden-mobile {
        display:none !important
    }
}
@media screen and (min-width: 768px) {
    .is-mobile-visible {
        display: none;
    }
}
.button.is-nav {
    background-color: #14161a;
    border-color: #fff;
    color: #fff;
}
.button.is-nav:hover,.button.nav.is-hovered {
    background-color: #a0e4d1;
    border-color: #14161a;
    color: #090a0c
}
.button.is-nav.is-outlined:hover,.button.is-nav.is-outlined.is-hovered,.button.is-custom.is-outlined:focus,.button.is-nav.is-outlined.is-focused {
    background-color: #fff;
    border-color: #fff;
    color: #090a0c
}
.button.is-delete {
    background-color: #f14668;
    border-color: #fff;
    color: #fff
}
.button.is-delete.is-outlined:hover,.button.is-delete.is-outlined.is-hovered,.button.is-delete.is-outlined:focus,.button.is-delete.is-outlined.is-focused {
    background-color: #fff;
    border-color: #f14668;
    color: #f14668;
}
.button.is-custom {
    background-color: #414E6A;
    border-color: #fff;
    color: #fff;
}
.button.is-custom:hover,.button.custom.is-hovered {
    background-color: #ffff;
    border-color: #414E6A;
    color: #414E6A
}
.button.is-custom.is-outlined:hover,.button.is-custom.is-outlined.is-hovered,.button.is-custom.is-outlined:focus,.button.is-custom.is-outlined.is-focused {
    background-color: #fff;
    border-color: #fff;
    color: #414E6A
}
.button.is-custom2 {
    background-color: #7A97A9;
    border-color: #fff;
    color: #fff
}
.button.is-custom2:hover,.button.custom2.is-hovered {
    background-color: #fff;
    border-color: #7A97A9;
    color: #7A97A9
}
.button.is-custom2.is-outlined:hover,.button.is-custom2.is-outlined.is-hovered,.button.is-custom2.is-outlined:focus,.button.is-custom2.is-outlined.is-focused {
    background-color: #fff;
    border-color: #fff;
    color: #7A97A9
}
.button.is-custom3 {
    background-color: #3e8ed0;
    border-color: #fff;
    color: #fff
}
.button.is-custom3:hover,.button.custom2.is-hovered {
    background-color: #fff;
    border-color: #3e8ed0;
    color: #3e8ed0
}
.button.is-custom3.is-outlined:hover,.button.is-custom3.is-outlined.is-hovered,.button.is-custom3.is-outlined:focus,.button.is-custom3.is-outlined.is-focused {
    background-color: #fff;
    border-color: #fff;
    color: #3e8ed0
}
.dropdown {
    display: inline-flex;
    position: relative;
    vertical-align: top
}
.dropdown.is-active .dropdown-menu,.dropdown.is-hoverable:hover .dropdown-menu {
    display: block
}
.dropdown.is-right .dropdown-menu {
    left: auto;
    right: 0
}
.dropdown.is-up .dropdown-menu {
    bottom: 100%;
    padding-bottom: 4px;
    padding-top: initial;
    top: auto
}
.dropdown-menu {
    display: none;
    left: 0;
    min-width: 5rem;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    z-index: 20
}
.dropdown-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 .5em 1em -0.125em rgba(10,10,10,.1),0 0px 0 1px rgba(10,10,10,.02);
    padding-bottom: .5rem;
    padding-top: .5rem
}
.dropdown-item {
    background-color: #ffffff !important;
    color: #4a4a4a;
    font-size: .875rem;
    line-height: 1.5;
    padding: .2rem;
}
a.dropdown-item,button.dropdown-item {
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
    white-space: nowrap;
    width: 100%
}
a.dropdown-item:hover,button.dropdown-item:hover {
    background-color: #f5f5f5 !important;
    color: #0a0a0a
}
.wrap-input100{
    position: relative;
    width: 100%;
    z-index: 1;
}
.input100 {
    font-family: Raleway-SemiBold;
    font-size: 18px;
    line-height: 1.2;
    color: #686868;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 62px;
    border-radius: 3px;
    padding: 0 30px 0 65px;
}
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 3px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(211, 63, 141, 0.6);
}
.symbol-input100 {
    font-size: 24px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 23px;
    padding-bottom: 5px;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
 /* Assign full width inputs*/
        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 40px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }